<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggirick.gardening_back.mappers.potList.PotListReportMapper">
    <!--    분양글 신고-->
    <insert id="reportPotById">
        INSERT
        INTO pot_listing_report(id, pot_listing_id, reporter_uid, reason)
        VALUES(pot_listing_report_seq.nextval, #{potListingId}, #{reporterUid}, #{reason})
    </insert>
</mapper>