<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggirick.gardening_back.mappers.myPlant.diary.MyPlantDiaryImageMapper">
    <!-- 등록한 식물의 모든 다이어리 이미지 조회 -->
    <select id="getImageByPlantId" resultType="com.ggirick.gardening_back.dto.myPlant.diary.MyPlantDiaryImageDTO">
        SELECT *
        FROM my_plant_diary_image i
        JOIN my_plant_diary d ON i.diary_id = d.diary_id
        WHERE d.user_plant_id = #{userPlantId}
    </select>

    <!-- diaryId로 이미지 한개 조회 -->
    <select id="getImageById" resultType="com.ggirick.gardening_back.dto.myPlant.diary.MyPlantDiaryImageDTO">
        SELECT *
        FROM my_plant_diary_image
        WHERE image_id = #{imageId}
    </select>

    <!-- 이미지 등록 -->
    <insert id="insert">
        INSERT INTO my_plant_diary_image (
            image_id,
            diary_id,
            ori_name,
            sys_name,
            url,
            hash
        )
        VALUES (
                   my_plant_image_seq.NEXTVAL,
                   #{diaryId},
                   #{oriName},
                   #{sysName},
                   #{url},
                   #{hash}
               )
    </insert>

    <!-- imageId로 이미지 개별 삭제 -->
    <delete id="deleteByImageId">
        DELETE FROM my_plant_diary_image
        WHERE image_id = #{imageId}
    </delete>

    <!-- diaryId로 이미지 삭제 -->
    <delete id="deleteByDiaryId">
        DELETE FROM my_plant_diary_image
        WHERE diary_id = #{diaryId}
    </delete>

    <!-- 중복 이미지 존재 여부 조회 (유저별) -->
    <select id="findByHashAndUserUid"
            resultType="com.ggirick.gardening_back.dto.myPlant.diary.MyPlantDiaryImageResponseDTO">
        SELECT i.image_id, i.url
        FROM my_plant_diary_image i
                 JOIN my_plant_diary d ON i.diary_id = d.diary_id
                 JOIN my_plant p ON d.user_plant_id = p.user_plant_id
        WHERE i.hash = #{hash}
          AND p.user_uid = #{loginUid}
    </select>

    <!-- 권한 체크용 - 해당 식물의 등록자인지 -->
    <select id="getOwnerUidByDiaryImageId" resultType="string">
        SELECT p.user_uid
        FROM my_plant_diary_image i
                 JOIN my_plant_diary d ON i.diary_id = d.diary_id
                 JOIN my_plant p ON d.user_plant_id = p.user_plant_id
        WHERE i.image_id = #{imageId}
    </select>

    <!-- 권한 체크용 - 해당 식물의 이미지인지 -->
    <select id="validateImageBelongsToPlant" resultType="int">
        SELECT COUNT(*)
        FROM my_plant_diary_image i
                 JOIN my_plant_diary d ON i.diary_id = d.diary_id
        WHERE i.image_id = #{imageId}
          AND d.user_plant_id = #{userPlantId}
    </select>

</mapper>